In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
state_mapping = pd.read_csv("Resources/US State Mapping.csv")
state_mapping.head()

      US_state US_state_list
0     ?Alabama            AL
1      ?Alaska            AK
2     ?Arizona            AZ
3    ?Arkansas            AR
4  ?California            CA

In [7]:
#delete the '?' in the 1st column
state_mapping['US_state']=state_mapping['US_state'].str[1:]
state_mapping.head()

     US_state US_state_list
0     Alabama            AL
1      Alaska            AK
2     Arizona            AZ
3    Arkansas            AR
4  California            CA

In [11]:
industry_mapping = pd.read_csv("Resources/Career Industry Mapping.csv")
industry_mapping.head()

  job_title Personal Service
0        16            Other
1      1004            Other
2      1013            Other
3      2940            Other
4      5784            Other

## Load 2 mapping tables to PostgreSQL

In [8]:
etl_connection_string = "postgres:postgres@localhost:5432/etlproject_db"
engine = create_engine(f'postgresql://{etl_connection_string}')

In [9]:
engine.table_names()

['industrymapping', 'unemployment', 'joblisting', 'statemapping']

In [10]:
state_mapping.to_sql(name = 'statemapping', con = engine, if_exists='replace', index=False)

In [12]:
industry_mapping.to_sql(name = 'industrymapping', con = engine, if_exists='replace', index=False)